<!DOCTYPE html>
    <head>
        <title>Home</title>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
        <link href="styles.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <script type="module" src="main.js"></script>
        <h1>Work in Progress ⛔🚧👷‍♂️</h1>
        <div id="diagram-container">
            <!-- Container for svg diagrams -->
        </div>
        <div id="controls">
            <button id="push">Push</button>
            <button id="pop">Pop</button>
            <button id="search">Search</button>
            <input type="text" id="searchElement" name="search-element">
        </div>
    </body>
</html>
