<!DOCTYPE html>
    <head>
        <title>Home</title>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
        <link href="styles.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <script type="module" src="main.bundle.js"></script>
        <h1>Work in Progress ⛔🚧👷‍♂️</h1>
        <div id="control-panel">
            <button class="control-button" id="compile-button">
                <span class="icon">⚙</span>
                Compile
            </button>
            <button class="control-button" id="run-button">
                <span class="icon">▶</span>
                Run
            </button>
        </div>
        <div id="container">
            <div id="js-editor-container"></div>
            <div id="json-editor-container"></div>
            <svg id="svg-container"></svg>
        </div>
    </body>
</html>
