body {
    font-family: "Fira Sans", sans-serif;
}

#diagram-container {
    width: 100%;
    z-index: 10;
    background-color: white;
    border: none;
    /* 
    border-radius: 6px 6px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    */
}

#controls button {
    color: grey;
    background: white;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #a3a3a3;
    font-family: "Fira Sans", sans-serif;
}

#controls button:hover {
    background: grey;
    color: white;
}
