#diagram-container {
    position: absolute;
    z-index: 10;

    color: rgba(0, 0, 0, 0.5);
    background-color: white;
    
    margin: 0;
    padding: 0px 15px 0px 15px;
    border-radius: 6px 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
  
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

#controls {
    margin-top: 75px;
}
